<header class="header">
  <a href="/" class="header__logo">Assignment- Aarti Arya</a>

  <div class="header__button">
    <% if (user) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/admin">Login</a>
    <% } %>
  </div>

</header>