<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <% if (data.length===0) { %>
   <p class="no-post">There is no Post uploaded yet.</p>
  <% } else { %>
   
  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
  <% } %>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
 

  



</section>